<!DOCTYPE html>
<html>
    <head>
        <title>homepage</title>
        <meta charset="utf-8"/>
    </head>
    <body>
        <h1>INFO30005 Group Keep-Typing</h1>
        <h1>url:</h1>
        <h2>get all students:&nbsp;&nbsp;&nbsp;/allstudents</h2>
        <h2>get all tutors:&nbsp;&nbsp;&nbsp;/alltutors</h2>
        <h2>find student by name:&nbsp;&nbsp;&nbsp;/findstudent/:name</h2>
        <h2>find tutor by name:&nbsp;&nbsp;&nbsp;/findtutor/:name</h2>
        <h2>find tutor by rate:&nbsp;&nbsp;&nbsp;/findtutorate/:rate</h2>
        <h2>find tutor by subject:&nbsp;&nbsp;&nbsp;/findtutorsubject/:subject</h2>
        <h2>create new student:&nbsp;&nbsp;&nbsp;/newstudent?name=...&age=...&...</h2>
        <h2>create new tutor:&nbsp;&nbsp;&nbsp;/newtutor?name=...&age=...&...</h2>
        <h2>update student subject:&nbsp;&nbsp;&nbsp;/updatestudentsubj?name=...&subject=...</h2>
        <h2>update tutor subject:&nbsp;&nbsp;&nbsp;/updatetutorsubj?name=...&subject=...</h2>
        <h2>update student info:&nbsp;&nbsp;&nbsp;/updatestudentinfo?name=...&age=...&...</h2>
        <h2>update tutor info:&nbsp;&nbsp;&nbsp;/updatetutorinfo?name=...&age=...&...</h2>
        <h2>delete student by name:&nbsp;&nbsp;&nbsp;/delstudent/:name</h2>
        <h2>delete tutor by name:&nbsp;&nbsp;&nbsp;/deltutor/:name</h2>
    </body>
</html>