<!DOCTYPE html>
<html>
    <head>
        <title>main page</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="/css/index.css"/>
    </head>
    <body>
        <header>
            <div class="groupname">StudentHands</div>
            <div class="login"><a href="/views/login.html">login</a></div>
            <div class="register"><a href="/views/register.html">register</a></div>
        </header>
        <div class="container">
            <div class="list">
                <ul>
                    <li>All tutors</li>
                    <li>subject1</li>
                    <li>subject2</li>
                    <li>subject3</li>
                    <li>subject4</li>
                    <li>subject5</li>
                </ul>
            </div>
            <div class="content">
                <div class="one_tutor">
                    <div class="tutor_pic">
                    </div>
                    <div class="tutor_name">tutorname</div>
                </div>
                <div class="one_tutor">
                    <div class="tutor_pic">
                    </div>
                    <div class="tutor_name">tutorname</div>
                </div>
                <div class="one_tutor">
                    <div class="tutor_pic">
                    </div>
                    <div class="tutor_name">tutorname</div>
                </div>
                <div class="one_tutor">
                    <div class="tutor_pic">
                    </div>
                    <div class="tutor_name">tutorname</div>
                </div>
                <div class="one_tutor">
                    <div class="tutor_pic">
                    </div>
                    <div class="tutor_name">tutorname</div>
                </div>
                <div class="one_tutor">
                    <div class="tutor_pic">
                    </div>
                    <div class="tutor_name">tutorname</div>
                </div>
            </div>
        </div>
        <footer></footer>
    </body>

</html>