<!DOCTYPE html>
<html lang="en">
<head>
  <title>searching tutor</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
  <link href="css/register.css" rel="stylesheet" media="all">
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><b>Studenthands</b></a>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Find Tutors<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/searchTutorRate">Tutors by rate</a></li>
                <li><a href="/searchTutorSub">Tutors by suburb</a></li>
            </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Discussion Forum<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/discussionforum">Post</a></li>
                <li><a href="#">#</a></li>
            </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Weekly Challenge<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/challenge">Current challenges</a></li>
                <li><a href="/ranking">Ranking</a></li>
            </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li><a href="/Login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          <li><a href="/Register"><span class="glyphicon glyphicon-user"></span> Sign up</a></li>
      </ul>
    </div>
  </nav>

    

  <div class="page-wrapper">
    <div class="wrapper wrapper--w790">
        <div class="card card-5">
            <div class="card-heading">
                <h2 class="title">Searching tutors</h2>
            </div>
            <div class="card-body">
                <!--please please put in the action-->
                <form action="/newstudent" method="POST">
                    <div class="form-row">
                        <div class="name">Suburb</div>
                        <div class="value">
                            <div class="input-group-desc">
                                <input class="input--style-5" type="text" name="suburb">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">Gender</div>
                        <div class="p-t-10">
                            <label class="radio-container m-r-45">Male
                                <input type="radio" name="gender" value="Male">
                                <span class="checkmark"></span>
                            </label>
                            <label class="radio-container">Female
                                <input type="radio" name="gender" value="Female">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn--radius-2 btn--green" type="submit">Search</button>
                        <a href="/"><button class="btn btn--radius-2 btn--red" type="button">Cancel</button></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>

  <div class="container" style="background-color:#f1f1f1">
  </div>

</body>
</html>

<style>
  .navbar-header {
      color: #edf0f1;
      margin-top: -10px;
  }
</style>