<!DOCTYPE html>
<html lang="en">
<head>
  <title>searching tutor</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
  body {font-family: Arial, Helvetica, sans-serif;}
  form {border: 3px solid #f1f1f1;}

  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  button:hover {
    opacity: 0.8;
  }

  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }

  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }

  img.avatar {
    width: 40%;
    border-radius: 50%;
  }

  .container {
    padding: 16px;
  }

  span.psw {
    float: right;
    padding-top: 16px;
  }

  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }
  </style>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><b>Studenthands</b></a>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Find Tutors<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/searchTutorRate">Tutors by rate</a></li>
                <li><a href="/searchTutorSub">Tutors by suburb</a></li>
            </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Discussion Forum<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/discussionforum">Post</a></li>
                <li><a href="#">#</a></li>
            </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Weekly Challenge<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/challenge">Current challenges</a></li>
                <li><a href="/ranking">Ranking</a></li>
            </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li><a href="/Login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          <li><a href="/Register"><span class="glyphicon glyphicon-user"></span> Sign up</a></li>
      </ul>
    </div>
  </nav>
  <h2>Result</h2>
  <div class="container">
    <div class="row">
        <% for(var i=0;i<result.length;i++){%>
            <div class="col-xs-6 col-md-3" border>
                <h4>name: <%=result[i].name%></h4>
                <h4>subject: <%=result[i].subject%></h4>
                <h4>rate: <%=result[i].rate%></h4>
            </div>
        <% }%>
    </div>            
    </div>

</body>
</html>

<style>
  .navbar-header {
      color: #edf0f1;
      margin-top: -10px;
  }
</style>