<!DOCTYPE html>
<html>
<title>User information</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">

        <!-- Left Column -->
        <div class="w3-third">

            <div class="w3-white w3-text-grey w3-card-4">                
                <div class="w3-container">
                    <div class="w3-large w3-text-green">
                        <h2>Anqi Chan</h2>
                    </div>  
                    <br>
                    <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-green"></i>Software Engineer</p>
                    <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-green"></i>Melbourne, Australia</p>
                    <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-green"></i>anqiqichenchen@gmail.com</p>
                    <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-green"></i>0452458413</p>
                    <hr>


                    <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-white"></i>Feedback</b></p>
                    <p>Clear and understandable</p>
                    <div class="w3-light-grey w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-green" style="width:90%">60%</div>
                    </div>
                    <p>Organisational skills</p>
                    <div class="w3-light-grey w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-green" style="width:80%">
                            <div class="w3-center w3-text-white">80%</div>
                        </div>
                    </div>
                    <p>Willingness to help</p>
                    <div class="w3-light-grey w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-green" style="width:75%">70%</div>
                    </div>
                    <p>Guid and Encouragement</p>
                    <div class="w3-light-grey w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-green" style="width:50%">50%</div>
                    </div> 
                    <br>

                </div>
            </div><br>

            <!-- End Left Column -->
        </div>

        <!-- Right Column -->
        <div class="w3-twothird">

            <div class="w3-container w3-card w3-white">
                <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-green"></i>Teaching Subjects</h2>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>Place: University of Melbourne</b></h5>
                    <h6 class="w3-text-green"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Time: <br>Every<br> Monday,<br> Friday,<br> Saturday,<br> Sunday<br> Making Appointment<br></h6>
                    <p>Subjects: IT</p>
                    <hr>
                </div>

            </div>

            <div class="w3-container w3-card w3-white w3-margin-bottom">
                <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-green"></i>Work Experience</h2>

                <div class="w3-container">
                    <h5 class="w3-opacity"><b>Web Developer / The Trump Organization</b></h5>
                    <h6 class="w3-text-green"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Mar 2012 - Dec 2014</h6>
                    <p> Build wall to stop Mexican Immigration. <br>
                     Make a meme website of Donald Trump </p>
                    <hr>
                </div>
            </div>

            <div class="w3-container w3-card w3-white">
                <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-green"></i>Education</h2>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>University Of Melbourne - 2016</b></h5>
                    <hr>
                </div>

            </div>

            <!-- End Right Column -->
        </div>

        <!-- End Grid -->
    </div>

    <!-- End Page Container -->
</div>


</body>
</html>
