<!DOCTYPE html>
<html lang="zxx">

<head>
  <title>Gallery</title>
  <!--meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="" />
  <script>
    addEventListener("load", function () {
      setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
      window.scrollTo(0, 1);
    }
  </script>
  <!--//meta tags ends here-->
  <!--booststrap-->
  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
  <!--//booststrap end-->
  <!-- font-awesome icons -->
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <!-- //font-awesome icons -->
  <!--stylesheets-->
  <link href="css/style.css" rel='stylesheet' type='text/css' media="all">
  <!--//stylesheets-->
  <link href="http://fonts.googleapis.com/css?family=Oswald:400,500,600,700" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
</head>

<body>
  <!--headder-->
  <div class="header-outs inner_page-banner " id="home">
    <div class="headder-top">
      <!-- nav -->
      <nav>
        <div id="logo">
          <h1>
            <a href="index.html">Sail-Trip</a>
          </h1>
        </div>
        <label for="drop" class="toggle">Menu</label>
        <input type="checkbox" id="drop">
        <ul class="menu mt-2">
          <li class="active">
            <a href="index.html">Home</a>
          </li>
          <li class="mx-lg-3 mx-md-2 my-md-0 my-1">
            <a href="about.html">About</a>
          </li>
          <li>
            <a href="service.html">Services</a>
          </li>
          <li class="mx-lg-3 mx-md-2 my-md-0 my-1">
            <!-- First Tier Drop Down -->
            <label for="drop-2" class="toggle toogle-2">Dropdown
              <span class="fa fa-angle-down" aria-hidden="true"></span>
            </label>
            <a href="#">Dropdown
              <span class="fa fa-angle-down" aria-hidden="true"></span>
            </a>
            <input type="checkbox" id="drop-2">
            <ul>
              <li>
                <a href="gallery.html" class="drop-text">Gallery</a>
              </li>
              <li>
                <a href="blog.html" class="drop-text">Blog</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="contact.html">Contact Us</a>
          </li>
        </ul>
      </nav>
      <!-- //nav -->
    </div>
    <!-- short -->
    <div class="using-border">
      <div class="inner_breadcrumb">
        <ul class="short_ls">
          <li>
            <a href="index.html">Home</a>
            <span>/ /</span>
          </li>
          <li>Gallery</li>
        </ul>
      </div>
    </div>
    <!-- //short-->
  </div>
  <!-- //header -->
  <!--Gallery-->
  <section class="gallery py-lg-4 py-md-3 py-sm-3 py-3">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
      <div class="row gallery-info">
        <div class="col-lg-4 main-title-text">
          <h3 class="title">Our Portfolio Gallery</h3>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 gallery-img-grid p-0">
          <div class="gallery-grids">
            <a href="#gal1">
              <img src="images/ab1.jpg" alt="news image" class="img-fluid">
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 gallery-img-grid p-0">
          <div class="gallery-grids">
            <a href="#gal2">
              <img src="images/ab2.jpg" alt="news image" class="img-fluid">
            </a>
          </div>

        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 gallery-img-grid p-0">
          <div class="gallery-grids">
            <a href="#gal3">
              <img src="images/blog3.jpg" alt="news image" class="img-fluid">
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 gallery-img-grid p-0">
          <div class="gallery-grids">
            <a href="#gal4">
              <img src="images/blog2.jpg" alt="news image" class="img-fluid">
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 gallery-img-grid p-0">
          <div class="gallery-grids">
            <a href="#gal5">
              <img src="images/blog1.jpg" alt="news image" class="img-fluid">
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 gallery-img-grid p-0">
          <div class="gallery-grids">
            <a href="#gal6">
              <img src="images/blog1.jpg" alt="news image" class="img-fluid">
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 gallery-img-grid p-0">
          <div class="gallery-grids">
            <a href="#gal7">
              <img src="images/blog3.jpg" alt="news image" class="img-fluid">
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 gallery-img-grid p-0">
          <div class="gallery-grids">
            <a href="#gal8">
              <img src="images/blog2.jpg" alt="news image" class="img-fluid">
            </a>
          </div>
        </div>
      </div>
      <!-- popup-->
      <div id="gal1" class="popup-effect">
        <div class="popup">
          <img src="images/ab1.jpg" alt="Popup Image" class="img-fluid" />
          <a class="close" href="#gallery">&times;</a>
        </div>
      </div>
      <!-- //popup -->
      <!-- popup-->
      <div id="gal2" class="popup-effect">
        <div class="popup">
          <img src="images/ab2.jpg" alt="Popup Image" class="img-fluid" />
          <a class="close" href="#gallery">&times;</a>
        </div>
      </div>
      <!-- //popup -->
      <!-- popup-->
      <div id="gal3" class="popup-effect">
        <div class="popup">
          <img src="images/blog3.jpg" alt="Popup Image" class="img-fluid" />
          <a class="close" href="#gallery">&times;</a>
        </div>
      </div>
      <!-- //popup -->
      <!-- popup-->
      <div id="gal4" class="popup-effect">
        <div class="popup">
          <img src="images/blog2.jpg" alt="Popup Image" class="img-fluid" />
          <a class="close" href="#gallery">&times;</a>
        </div>
      </div>
      <!-- //popup -->
      <!-- popup-->
      <div id="gal5" class="popup-effect">
        <div class="popup">
          <img src="images/blog1.jpg" alt="Popup Image" class="img-fluid" />
          <a class="close" href="#gallery">&times;</a>
        </div>
      </div>
      <!-- //popup -->
      <!-- popup-->
      <div id="gal6" class="popup-effect">
        <div class="popup">
          <img src="images/blog1.jpg" alt="Popup Image" class="img-fluid" />
          <a class="close" href="#gallery">&times;</a>
        </div>
      </div>
      <!-- //popup -->
      <!-- popup-->
      <div id="gal7" class="popup-effect">
        <div class="popup">
          <img src="images/blog3.jpg" alt="Popup Image" class="img-fluid" />
          <a class="close" href="#gallery">&times;</a>
        </div>
      </div>
      <!-- //popup -->
      <!-- popup-->
      <div id="gal8" class="popup-effect">
        <div class="popup">
          <img src="images/blog2.jpg" alt="Popup Image" class="img-fluid" />
          <a class="close" href="#gallery">&times;</a>
        </div>
      </div>
      <!-- //popup -->
    </div>
  </section>
  <!--//Gallery-->
  <!-- footer -->
  <footer class="py-lg-3 py-md-2 py-sm-3 py-2">
    <div class="container py-lg-4 py-md-4 py-sm-3 py-3">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 footer-bottom-txt">
          <h2>
            <a href="index.html">Sail-Trip</a>
          </h2>
          <p class="pt-lg-4 pt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 footer-bottom-txt">
          <div class="footer-icons pt-lg-5 pt-md-4 mt-3">
            <ul>
              <li>
                <a href="#">
                  <span class="fa fa-facebook mr-lg-3 mr-2"></span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="fa fa-twitter mr-lg-3 mr-2"></span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="fa fa-rss mr-lg-3 mr-2"></span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="fa fa-envelope mr-lg-3 mr-2"></span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="fa fa-instagram mr-lg-3 mr-2"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- move icon -->
      <div class="text-center">
        <a href="#home" class="move-top text-center mt-3">
          <span class="fa fa-arrow-up" aria-hidden="true"></span>
        </a>
      </div>
      <!--//move icon -->
    </div>
  </footer>
  <!--//footer -->
  <!-- footer-copy-write -->
  <div class="footer-copy-write py-3">
    <div class="container py-2">
      <div class="bottem-txt-footer text-center">
        <p>
          Copyright &copy; 2019.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
        </p>
      </div>
    </div>
  </div>
  <!--//footer-copy-write -->
</body>
</html>