<!DOCTYPE html>
<html lang="zxx">

<head>
  <title>Service</title>
  <!--meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="" />
  <script>
    addEventListener("load", function () {
      setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
      window.scrollTo(0, 1);
    }
  </script>
  <!--//meta tags ends here-->
  <!--booststrap-->
  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
  <!--//booststrap end-->
  <!-- font-awesome icons -->
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <!-- //font-awesome icons -->
  <!--stylesheets-->
  <link href="css/style.css" rel='stylesheet' type='text/css' media="all">
  <!--//stylesheets-->
  <link href="http://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
</head>

<body>
  <!--headder-->
  <div class="header-outs inner_page-banner " id="home">
    <div class="headder-top">
      <!-- nav -->
      <nav>
        <div id="logo">
          <h1>
            <a href="index.html">Sail-Trip</a>
          </h1>
        </div>
        <label for="drop" class="toggle">Menu</label>
        <input type="checkbox" id="drop">
        <ul class="menu mt-2">
          <li class="active">
            <a href="index.html">Home</a>
          </li>
          <li class="mx-lg-3 mx-md-2 my-md-0 my-1">
            <a href="about.html">About</a>
          </li>
          <li>
            <a href="service.html">Services</a>
          </li>
          <li class="mx-lg-3 mx-md-2 my-md-0 my-1">
            <!-- First Tier Drop Down -->
            <label for="drop-2" class="toggle toogle-2">Dropdown
              <span class="fa fa-angle-down" aria-hidden="true"></span>
            </label>
            <a href="#">Dropdown
              <span class="fa fa-angle-down" aria-hidden="true"></span>
            </a>
            <input type="checkbox" id="drop-2">
            <ul>
              <li>
                <a href="gallery.html" class="drop-text">Gallery</a>
              </li>
              <li>
                <a href="blog.html" class="drop-text">Blog</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="contact.html">Contact Us</a>
          </li>
        </ul>
      </nav>
      <!-- //nav -->
    </div>
    <!-- short -->
    <div class="using-border">
      <div class="inner_breadcrumb">
        <ul class="short_ls">
          <li>
            <a href="index.html">Home</a>
            <span>/ /</span>
          </li>
          <li>Services</li>
        </ul>
      </div>
    </div>
    <!-- //short-->
  </div>
  <!-- //header -->
  <!-- service -->
  <section class="service py-lg-4 py-md-3 py-sm-3 py-3" id="service">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
      <div class="row">
        <div class="col-lg-4 main-title-text">
          <h3 class="title">What We Offers & Services</h3>
        </div>
        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 service-grid-wthree text-center">
              <div class="ser-fashion-grid">
                <div class="about-icon mb-md-4 mb-3">
                  <span class="fa fa-handshake-o" aria-hidden="true"></span>
                </div>
                <div class="ser-sevice-grid">
                  <h4 class="pb-3">Services 1</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 service-grid-wthree text-center">
              <div class="ser-fashion-grid">
                <div class="about-icon mb-md-4 mb-3">
                  <span class="fa fa-free-code-camp" aria-hidden="true"></span>
                </div>
                <div class="ser-sevice-grid">
                  <h4 class="pb-3">Services 2</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 service-grid-wthree text-center">
              <div class="ser-fashion-grid">
                <div class="about-icon mb-md-4 mb-3">
                  <span class="fa fa-clone" aria-hidden="true"></span>
                </div>
                <div class="ser-sevice-grid">
                  <h4 class="pb-3">Services 3</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 mt-lg-4 mt-3 service-grid-wthree text-center">
              <div class="ser-fashion-grid">
                <div class="about-icon mb-md-4 mb-3">
                  <span class="fa fa-linode" aria-hidden="true"></span>
                </div>
                <div class="ser-sevice-grid">
                  <h4 class="pb-3">Services 4</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 mt-lg-4 mt-3 service-grid-wthree text-center">
              <div class="ser-fashion-grid">
                <div class="about-icon mb-md-4 mb-3">
                  <span class="fa fa-binoculars" aria-hidden="true"></span>
                </div>
                <div class="ser-sevice-grid">
                  <h4 class="pb-3">Services 5</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 mt-lg-4 mt-3 service-grid-wthree text-center">
              <div class="ser-fashion-grid">
                <div class="about-icon mb-md-4 mb-3">
                  <span class="fa fa-bookmark-o" aria-hidden="true"></span>
                </div>
                <div class="ser-sevice-grid">
                  <h4 class="pb-3">Services 6</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--//service -->
  <!-- Booking-here -->
  <section class="booking py-lg-4 py-md-3 py-sm-3 py-3">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
      <div class="booking-here text-center">
        <h5>Let Make Booking Here</h5>
        <p class="mt-lg-4 mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Vestibulum nibh urna Lorem ipsum dolor sit amet, consectetur
          adipiscing elit.Vestibulum nibh urna</p>
        <div class="view-buttn mt-md-4 mt-sm-4 mt-3">
          <a href="contact.html" class="btn">Book Here</a>
        </div>
      </div>
    </div>
  </section>
  <!--//Booking-here -->
  <!-- price -->
  <section class="price py-lg-4 py-md-3 py-sm-3 py-3" id="price">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
      <div class="row">
        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 pricing-grid">
              <div class=" w3ls-bottom">
                <span class="fa fa-free-code-camp mb-lg-5 mb-md-4 mb-3" aria-hidden="true"></span>
                <h4 class="mb-lg-4 mb-md-3 mb-3">Package 1</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Vestibulum nibh urna Lorem ipsum dolor sit amet,
                  consectetur adipiscing elit.Vestibulum nibh urna</p>
                <h4 class="pt-3"> 900
                  <span class="sup-doller">$</span>
                </h4>
                <div class="view-buttn mt-md-4 mt-sm-4 mt-3">
                  <a href="contact.html" class="btn">Book Here</a>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 pricing-grid">
              <div class=" w3ls-bottom">
                <span class="fa fa-free-code-camp mb-lg-5 mb-md-4 mb-3" aria-hidden="true"></span>
                <h4 class="mb-lg-4 mb-md-3 mb-3">Package 2</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Vestibulum nibh urna Lorem ipsum dolor sit amet,
                  consectetur adipiscing elit.Vestibulum nibh urna</p>
                <h4 class="pt-3">750
                  <span class="sup-doller">$</span>
                </h4>
                <div class="view-buttn mt-md-4 mt-sm-4 mt-3">
                  <a href="contact.html" class="btn">Book Here</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 main-title-text">
          <h3 class="title">Our Pricing Package</h3>
        </div>
      </div>
    </div>
  </section>
  <!-- price -->
  <!-- footer -->
  <footer class="py-lg-3 py-md-2 py-sm-3 py-2">
    <div class="container py-lg-4 py-md-4 py-sm-3 py-3">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 footer-bottom-txt">
          <h2>
            <a href="index.html">Sail-Trip</a>
          </h2>
          <p class="pt-lg-4 pt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 footer-bottom-txt">
          <div class="footer-icons pt-lg-5 pt-md-4 mt-3">
            <ul>
              <li>
                <a href="#">
                  <span class="fa fa-facebook mr-lg-3 mr-2"></span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="fa fa-twitter mr-lg-3 mr-2"></span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="fa fa-rss mr-lg-3 mr-2"></span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="fa fa-envelope mr-lg-3 mr-2"></span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="fa fa-instagram mr-lg-3 mr-2"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- move icon -->
      <div class="text-center">
        <a href="#home" class="move-top text-center mt-3">
          <span class="fa fa-arrow-up" aria-hidden="true"></span>
        </a>
      </div>
      <!--//move icon -->
    </div>
  </footer>
  <!--//footer -->
  <!-- footer-copy-write -->
  <div class="footer-copy-write py-3">
    <div class="container py-2">
      <div class="bottem-txt-footer text-center">
        <p>
          Copyright &copy; 2019.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
        </p>
      </div>
    </div>
  </div>
  <!--//footer-copy-write -->
</body>
</html>