<!DOCTYPE html>
<html lang="zxx">

<head>
  <title>about</title>
  <!--meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="" />
  <script>
    addEventListener("load", function () {
      setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
      window.scrollTo(0, 1);
    }
  </script>
  <!--//meta tags ends here-->
  <!--booststrap-->
  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
  <!--//booststrap end-->
  <!-- font-awesome icons -->
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <!-- //font-awesome icons -->
  <!--stylesheets-->
  <link href="css/style.css" rel='stylesheet' type='text/css' media="all">
  <!--//stylesheets-->
  <link href="css/style.css" rel='stylesheet' type='text/css' media="all">
  <!--//stylesheets-->
  <link href="http://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
</head>

<body>
  <!--headder-->
  <div class="header-outs inner_page-banner " id="home">
    <div class="headder-top">
      <!-- nav -->
      <nav>
        <div id="logo">
          <h1>
            <a href="index.html">Sail-Trip</a>
          </h1>
        </div>
        <label for="drop" class="toggle">Menu</label>
        <input type="checkbox" id="drop">
        <ul class="menu mt-2">
          <li class="active">
            <a href="index.html">Home</a>
          </li>
          <li class="mx-lg-3 mx-md-2 my-md-0 my-1">
            <a href="about.html">About</a>
          </li>
          <li>
            <a href="service.html">Services</a>
          </li>
          <li class="mx-lg-3 mx-md-2 my-md-0 my-1">
            <!-- First Tier Drop Down -->
            <label for="drop-2" class="toggle toogle-2">Dropdown
              <span class="fa fa-angle-down" aria-hidden="true"></span>
            </label>
            <a href="#">Dropdown
              <span class="fa fa-angle-down" aria-hidden="true"></span>
            </a>
            <input type="checkbox" id="drop-2">
            <ul>
              <li>
                <a href="gallery.html" class="drop-text">Gallery</a>
              </li>
              <li>
                <a href="blog.html" class="drop-text">Blog</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="contact.html">Contact Us</a>
          </li>
        </ul>
      </nav>
      <!-- //nav -->
    </div>
    <!-- short -->
    <div class="using-border">
      <div class="inner_breadcrumb">
        <ul class="short_ls">
          <li>
            <a href="index.html">Home</a>
            <span>/ /</span>
          </li>
          <li>Single page</li>
        </ul>
      </div>
    </div>
    <!-- //short-->
  </div>
  <!-- //header -->
  <!--single page-->
  <section class="single page py-lg-4 py-md-3 py-sm-3 py-3" id="single-page">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
      <div class="row">
        <div class="col-lg-4 main-title-text">
          <h3 class="title">Our Single page</h3>
        </div>
        <div class="col-lg-8 blog-left-sub">
          <img src="images/blog3.jpg" alt="news image" class="img-fluid">
          <div class="blog-two-two">
            <div class="blog-date-time mb-2">
              <ul>
                <li>
                  <a href="single.html">July 2020/7</a>
                </li>
                <li>
                  <a href="single.html">Comments 5</a>
                </li>
              </ul>
            </div>
            <h4 class="mb-3">
              <a href="single.html">Lorem ipsum dolor</a>
            </h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Vestibulum nibh urna Lorem ipsum dolor sit amet, consectetur
              adipiscing elit.Vestibulum nibh urna</p>
            <div class="view-buttn mt-md-4 mt-sm-4 mt-3">
              <a href="single.html" class="btn">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="newsletter mt-lg-5 mt-md-4 mt-3">
        <h4 class="mb-3">Subscribe to our newsletter & get $25 Off*</h4>
        <form action="#" method="post" class="d-flex">
          <input type="email" name="Your Email" class="form-control" placeholder="Your Email" required="">
          <button class="btn1">
            <span class="fa fa-envelope" aria-hidden="true"></span>
          </button>
        </form>
      </div>
      <div class="comments-w3layouts-grid pt-lg-5 pt-md-4 pt-3">
        <div class="comments-grid-right mb-lg-4 mb-3">
          <h4>Our Recent Comments</h4>
        </div>
        <div class="comment-list mb-lg-4 mb-3">
          <div class="row pt-3">
            <div class="col-lg-2 col-md-3 col-sm-3 comment-imgs ">
              <img src="images/c1.jpg" alt=" " class="img-fluid">
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 single-title text-left">
              <h4>Michael Crisp</h4>
              <p class="my-2">Ut ex metus, ornare ac ultricies sit amet, auctor a elit. Praesent sit
                <br> amet scelerisque massa. Duis porta risus id urna finibus aliquet.
              </p>
              <ul>
                <li>5 December 2016
                  <i>|</i>
                </li>
                <li>
                  <a href="single.html" class="clr-two">Reply</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="row pt-3">
            <div class="col-lg-2 col-md-3 col-sm-3 comment-imgs ">
              <img src="images/c2.jpg" alt=" " class="img-fluid">
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 single-title text-left">
              <h4>Michael Crisp</h4>
              <p class="my-2">Ut ex metus, ornare ac ultricies sit amet, auctor a elit. Praesent sit
                <br> amet scelerisque massa. Duis porta risus id urna finibus aliquet.
              </p>
              <ul>
                <li>5 December 2016
                  <i>|</i>
                </li>
                <li>
                  <a href="single.html" class="clr-two">Reply</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!--//comments-->
        <!--comments-form-->
        <div class="pt-3 form-comment">
          <div class="mb-3 comments-grid-right text-left">
            <h4>Leave a Comment</h4>
          </div>
          <form class="pt-lg-2" action="#" method="post">
            <div class="row wls-contact-mid">
              <div class="col-lg-6 form-group contact-forms">
                <input type="text" class="form-control" placeholder="Name" required="">
              </div>
              <div class="col-lg-6 form-group contact-forms">
                <input type="email" class="form-control" placeholder="Email" required="">
              </div>
            </div>
            <div class="form-group contact-forms mb-0">
              <textarea class="form-control" placeholder="Message" rows="2" required=""></textarea>
            </div>
            <button type="submit" class="btn mt-lg-4 mt-3 sent-butnn">Submit</button>
          </form>
          <!--//comments-form-->
        </div>
      </div>
    </div>
  </section>
  <!--//single page-->
  <!-- footer -->
  <footer class="py-lg-3 py-md-2 py-sm-3 py-2">
    <div class="container py-lg-4 py-md-4 py-sm-3 py-3">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 footer-bottom-txt">
          <h2>
            <a href="index.html">Sail-Trip</a>
          </h2>
          <p class="pt-lg-4 pt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 footer-bottom-txt">
          <div class="footer-icons pt-lg-5 pt-md-4 mt-3">
            <ul>
              <li>
                <a href="#">
                  <span class="fa fa-facebook mr-lg-3 mr-2"></span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="fa fa-twitter mr-lg-3 mr-2"></span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="fa fa-rss mr-lg-3 mr-2"></span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="fa fa-envelope mr-lg-3 mr-2"></span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="fa fa-instagram mr-lg-3 mr-2"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- move icon -->
      <div class="text-center">
        <a href="#home" class="move-top text-center mt-3">
          <span class="fa fa-arrow-up" aria-hidden="true"></span>
        </a>
      </div>
      <!--//move icon -->
    </div>
  </footer>
  <!--//footer -->
  <!-- footer-copy-write -->
  <div class="footer-copy-write py-3">
    <div class="container py-2">
      <div class="bottem-txt-footer text-center">
        <p>
          Copyright &copy; 2019.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
        </p>
      </div>
    </div>
  </div>
  <!--//footer-copy-write -->
</body>
</html>